html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png');
    /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 8vw;
    font-style: italic;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #d83f84;
}


/*
 * Styles for the deck of cards
 */

.deck {
    width: 95vw;
    height: 95vw;
    background: linear-gradient(160deg, #2a1b3d 0%, #44318d 100%);
    padding: 5vw;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 18vw;
    width: 18vw;
    background: #a4b3b6;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transition: transform .5s ease-in;
    box-shadow: 10px 10px 10px rgba(121, 119, 119, 0.5);
    transform: rotateY(0);
    background: #e98074;
    cursor: default;
    transition: all 0.2s ease;
}

.deck .card.show {
    font-size: 6vw;
}

.deck .card.match {
    cursor: default;
    background: #d83f84;
    font-size: 6vw;
    box-shadow: 10px 10px 10px rgba(121, 119, 119, 0.5);
    transition: all 0.2s ease-out;
}


/*
 * Styles for the Score Panel
 */

.score-panel {
    font-size: 4vw;
    display: flex;
    text-align: center;
    width: 100%;
    margin-bottom: 15px;
}

.stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
    width: 25%;
    color: #e98074;
}

.moves {
    width: 25%;
}

.timer {
    width: 25%;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

.restart {
    width: 25%;
    color: palegreen;
}


/* style for winning page */

.winning-page {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    z-index: 2;
    cursor: pointer;
    text-align: center;
}

.final-stars {
    margin-top: 25vw;
    margin-bottom: 15px;
    font-size: 8vw;
    color: #e98074;
}

.stats {
    font-size: 4vw;
}

.replay {
    padding: 3vw 3vw;
    font-size: 4.5vw;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background: linear-gradient(160deg, #2a1b3d 0%, #44318d 100%);
    border: none;
    border-radius: 2vw;
    box-shadow: 0 1.3vw #999;
}

.replay:hover {
    background: linear-gradient(160deg, #2a1b3d 22%, #44318d 80%);
    transition: all 0.2s ease;
}

.replay:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

@media only screen and (min-width: 600px) {
    h1 {
        font-size: 3em;
    }
    .score-panel {
        font-size: 1.5em;
        width: 590px;
    }
    .deck {
        width: 590px;
        height: 590px;
        padding: 30px;
    }
    .deck .card {
        width: 110px;
        height: 110px;
    }
    .deck .card.show {
        font-size: 40px;
    }
    .deck .card.match {
        font-size: 40px;
    }
    .final-stars {
        font-size: 3em;
    }
    .stats {
        font-size: 1.5em;
    }
    .replay {
        padding: 15px 15px;
        font-size: 1.7em;
        border-radius: 10px;
        box-shadow: 0 7px #999;
    }
}